// components/_card.scss
.card-wrap {
  

  .card-tit {
    margin-bottom: 0.75rem;
  }

  .card-cont {
    background-color: #fff;
    border-radius: 0.5rem;
    @include shadow(rgba(0, 0, 0, 0.1), 12px);
    padding: 1rem;
    @include flex(flex-start, flex-start);
    box-sizing: border-box;
  }
}