/****** _variables.scss : 프로젝트에서 공통으로 사용할 폰트 크기, 간격 등 변수 정의 ******/

//button sizes
$btn-sizes: (
  sm: 2rem,
  md: 2.5rem,
  lg: 3rem,
);

//font sizes
$btn-font-sizes: (
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
);

