

/* _variables.scss : 테마색상 */
:root{
  --color-primary: #1e90ff;
  --color-secondary: #ff691e;
  --color-gray900: #111;
  --color-gray700: #555;
  --color-gray500: #b2b2b2;
  --color-gray300: #eee;
  --color-gray100: #f5f5f5;
  --color-gray000: #ffffff;
  --color-error: #e63946;
}




$themes: (
  // theme-light: (
  //   primary: #1e90ff,
  //   secondary: #ff691e,
  //   gray900: #111,
  //   gray600: #555,
  //   gray000: #fff
  // ),
  theme-dark: (
    primary: red,
    background: #111111,
    text: #eeeeee
  ),
  theme-school: (
    primary: green,
    background: #fffbe6,
    text: #222222
  ),
  theme-school1: (
    primary: yellow,
    background: #fffbe6,
    text: #222222
  ),
  theme-school2: (
    primary: orange,
    background: #fffbe6,
    text: #222222
  ),
  theme-school3: (
    primary: gray,
    background: #fffbe6,
    text: #222222
  )
);



.logo {
  width:100%;
  max-width:70%;
  height:2.125rem;
  background-image:url(../images/logo/main_logo.svg);
  background-repeat: no-repeat;
  background-size:contain;

}