.contents {
  min-height:100vh;
  padding: 5rem 1.25rem;
  background-color:#f9f9f9
}

/* login */
.contents.login {
  .form-field { 
    .tit { }
    .conts {
      position: relative; 
      &.form-id{              
        input{
          padding-left: 3rem;
        }
        &::before{
          content: '';
          position: absolute;
          left: 0.75rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem;
          height: 1.5rem;      
          background-image: url('../../assets/images/common/foot_ico_profile.svg');
          @include bg-image-default;
        }
      }      
      &.form-pw {
        input{
          padding-left: 3rem;
          padding-right: 3rem;
        }
        &::before{
          content: '';
          position: absolute;
          left: 0.75rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem;
          height: 1.5rem;      
          background-image: url('../../assets/images/common/foot_ico_pay.svg');
          @include bg-image-default;
        }
        .btn-ico.ico-pw-visible {
          font-size: 0;
          position: absolute;
          right: 0.75rem;
          top: 50%;
          transform: translateY(-50%);
          width: 1.5rem;
          height: 1.5rem;
          background-image: url('../../assets/images/common/foot_ico_school.svg');
          @include bg-image-default;
        }
      }
    }
  }
  .form-field + .form-field {
    margin-top: 1.25rem;
  }
  .link-group {
    margin-top: 1.25rem;
    ul {
      @include flex(normal, center, row);
      li {
        & + li {
          position: relative;
          margin-left: 0.5rem;
          padding-left: 0.5rem;
        }
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 1rem;
          background-color: $color-gray500;
        }        
      }    
    }
  }
  .w100p {
    width: 100%;
  }
}