$school-logos: (
  sch01: '../../assets/images/logo/sch01.svg',
  sch02: '../../assets/images/logo/sch02.svg',
  sch03: '../../assets/images/logo/sch03.svg'
);

$school-symbol: (
  schSymbol01: '../../assets/images/logo/sch_Symbol01.svg',
  schSymbol02: '../../assets/images/logo/sch_Symbol02.svg',
  schSymbol03: '../../assets/images/logo/sch_Symbol03.svg'
);

//반복문으로 css생성
@each $code, $url in $school-logos {
  [data-school="#{$code}"] .school-logo {
    background-image: url("#{$url}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;height: 80px;
  }
}
@each $code, $url in $school-symbol {
  .school-Symbol.#{$code} {
    background-image: url("#{$url}");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;height: 80px;
  }
}