$themes: (
  light: (
    primary: #1e90ff,
    secondary: #ff691e,
    background: #eeeeee,
    text: #111111,
    gray000: #f3f3f3,
    gray600: #555555,
    gray900: #111111
  ),
  dark: (
    primary: rgb(122, 122, 185),
    secondary: #ff691e,
    background: #111111,
    text: #eeeeee,
    gray000: #222222,
    gray600: #666666,
    gray900: #f3f3f3
  ),
  school: (
    primary: green,
    secondary: #ff691e,
    background: #f2d95b,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  ),
  school1: (
    primary: yellow,
    secondary: #ff691e,
    background: #fffbe6,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  ),
  school2: (
    primary: orange,
    secondary: #ff691e,
    background: #fffbe6,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  ),
  school3: (
    primary: gray,
    secondary: #ff691e,
    background: #fffbe6,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  )
);