$themes: (
  light: (
    primary: #1e90ff,
    secondary: #ff691e,
    background: #eeeeee,
    text: #111111,
    gray000: #f3f3f3,
    gray600: #555555,
    gray900: #111111
  ),
  dark: (
    primary: rgb(122, 122, 185),
    secondary: #ff691e,
    background: #111111,
    text: #eeeeee,
    gray000: #222222,
    gray600: #666666,
    gray900: #f3f3f3
  ),
  school: (
    primary: green,
    secondary: #ff691e,
    background: #f2d95b,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  ),
  school1: (
    primary: yellow,
    secondary: #ff691e,
    background: #fffbe6,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  ),
  school2: (
    primary: orange,
    secondary: #ff691e,
    background: #fffbe6,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  ),
  school3: (
    primary: gray,
    secondary: #ff691e,
    background: #fffbe6,
    text: #222222,
    gray000: #f3f3f3,
    gray600: #666666,
    gray900: #111111
  )
);


//작동 안되는중
//테마 스위처 버튼 컬러정의
$button-theme-colors: (
light: (#ffffff, #000),
dark: (#1c1c1c, #fff)
);
//테마 스위처 버튼
@each $key, $colors in $button-theme-colors {
Button[data-select="#{$key}"] div.btn {
background-color: nth($colors, 1);
color: nth($colors, 2);
}
}
button.reset{background: #000;}


// // 기본 테마명(light)으로 $colors 변수 선언
// $colors: map-get(themevars.$themes, light);
