/* _form.scss : 기본 form 스타일 정의 */

@import '../base/_variables' ;//_variables 불러오기

label {
  display:block;
  @include font-size(14);
}


input, textarea, select {
  @include font-size(16);
  width:100%;
  padding: $form-element-padding;
  border:1px solid $color-gray500;
  border-radius: $form-element-radius;
  background-color:$color-gray000;

  &::placeholder {
    color:$color-gray500;
  }
  &:focus {
    @include focus-outline;
  }
  &:disabled {
    background-color:$color-gray300;
    color:$color-gray500;
    cursor: not-allowed;
  }
}





.form-group {
  border: none;
  padding: 0;
  @include flex(normal, flex-start, row);
  gap: 0.5rem;
  

  .form-label {
    display: block;
    }
    .form-check {      
      label {
      @include font-size(16);
        cursor: pointer;
        @include flex(normal, flex-start,row);
        gap: 0.5rem;
      }

    //인풋 라디오/체크박스 스크린리더온리
    input[type='radio'], input[type='checkbox'] {
      @include visually-hidden;
    }
    //인풋 라디오
    input[type='radio'] + label::before{
      content: '';
      @include checkbox-style(1.5rem);
      border: 1px solid $color-gray500;
      @include border-radius(50%);
      flex-shrink: 0;
    }
    input[type='radio']:focus + label::before {
      @include focus-outline;
    }
    input[type='radio']:checked + label::before {
      border: 0.375rem solid $color-primary;
    }
    input[type='radio']:disabled + label::before {
      border-color: $color-gray500;
      background-color: $color-gray300;
    }
    //인풋 체크박스
    input[type='checkbox'] + label::before{
      content: '';
      @include checkbox-style(1.5rem);
      border-radius: $form-element-radius;
      border: 1px solid $color-gray500;
      flex-shrink: 0;
    }
    input[type='checkbox']:focus + label::before {
      @include focus-outline;
    }
    input[type='checkbox']:checked + label{
      &::before {
        border-color: $color-primary;
        background-color:$color-primary;
        background-image: url('../images/common/i_checkbox_on.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
    input[type='checkbox']:disabled + label::before {
      border-color: $color-gray500;
      background-color: $color-gray300;
    }
    input[type='checkbox']:checked:disabled + label::before {
      border-color: $color-gray100;
      background-color: $color-gray100;
      background-image: url('../images/common/i_checkbox_disabled.svg');
    }
  }
  .form-check.sm {
    label {
      @include font-size(14);    
    }
    input[type='checkbox'] + label::before{ 
      @include checkbox-style(1.125rem);
    }
  }
}

.form-field {
  width:100%;

  label {
    @include visually-hidden;
  }

  &.error {
    input {
      border-color: $color-error;
    }
  }

}




.flex-column { // 세로 정렬
  flex-direction: column;
}