/* _reset.scss : 브라우저별 기본 스타일 차이를 없애고 동일한 스타일 베이스 만들기 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 100%;
  
}


input, button, textarea, select {
  font:inherit;
  border:none;
  background:none;
  appearance: none;
}