/* _typography.scss : 기본 텍스트 스타일과 제목, 문단 등 타이포그래피 정의 */

@import '../base/_variables' ;//_variables 불러오기


///// 공통아닌 font 관련된 mixin이라 해당파일에 같이 썼음
@mixin font-size($size) {
  $lh: map-get($font-styles, $size);
  @if $lh != null {
    font-size: ($size / 16) * 1rem;
    line-height:$lh;

  } @else {
    @warn "폰트 사이즈 #{$size}px는 정의되지 않았습니다.";
  }
}


html {
  font-size:100%;
  scroll-behavior: smooth;
}

body {
  @include font-size(16);
  font-family: $font-family-base;
  background-color :$color-gray000;
  color: $color-gray900;
  word-break: keep-all;
}


h1 {
  @include font-size(32);
  font-weight:700;
}

h2 {
  @include font-size(24);
  font-weight:600;
}

h3 {
  @include font-size(20);
  font-weight:600;
}
h4 {
  @include font-size(18);
  font-weight:500;
}
h5 {
  @include font-size(16);
  font-weight:500;
}
h6 {
  @include font-size(14);
  font-weight:500;
}

