/****** _variables.scss : 프로젝트에서 공통으로 사용할 폰트 크기, 간격 등 변수 정의 ******/


//Color Wrappers (테마토큰)
$color-primary : var(--color-primary);
$color-secondary : var(--color-secondary);
$color-gray900 : var(--color-gray900);
$color-gray700 : var(--color-gray700);
$color-gray500 : var(--color-gray500);
$color-gray300 : var(--color-gray300);
$color-gray100 : var(--color-gray100);
$color-gray000 : var(--color-gray000);
$color-error : var(--color-error);

$font-family-base: 'Pretendard', sans-serif;


// font sizes 
$font-styles: (
  12 : 130%,
  14 : 130%,
  16 : 140%,
  18 : 140%,
  20 : 140%,
  24 : 150%,
  32 : 150%,
  48 : 150%
);




//button sizes
$btn-sizes : (
  sm: 2rem,
  md: 2.5rem,
  lg: 3rem
);


//button font sizes
$btn-font-sizes : (
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem
);



//form 공통
$form-element-padding:0.75rem 1rem;
$form-element-radius:0.375rem;