

/* _variables.scss : 테마색상 */

$themes: (
  light: (
    primary: #1e90ff,
    secondary: #ff691e,
    gray900: #111,
    gray600: #555,
    gray000: #fff
  ),
  dark: (
    primary: red,
    background: #111111,
    text: #eeeeee
  ),
  school: (
    primary: green,
    background: #fffbe6,
    text: #222222
  ),
  school1: (
    primary: yellow,
    background: #fffbe6,
    text: #222222
  ),
  school2: (
    primary: orange,
    background: #fffbe6,
    text: #222222
  ),
  school3: (
    primary: gray,
    background: #fffbe6,
    text: #222222
  )
);
